<%- include('partials/profileHeader') -%>

  <body>
    <h1>ASL Dictionary</h1>

    <div class="search-bar">
      <!-- <input type="text" id="searchInput" placeholder="Search..."> -->
      <input type="text" id="searchInput" placeholder="Search..." oninput="filterImages()">
      <button>Submit</button>
    </div>

    <br>

    <div class="grid-container">
      <div class="grid-item"><img src="./letters/a.png" alt="a"></div>
      <div class="grid-item"><img src="./letters/b.png" alt="b"></div>
      <div class="grid-item"><img src="./letters/c.png" alt="c"></div>
      <div class="grid-item"><img src="./letters/d.png" alt="d"></div>
      <div class="grid-item"><img src="./letters/e.png" alt="e"></div>
      <div class="grid-item"><img src="./letters/f.png" alt="f"></div>
      <div class="grid-item"><img src="./letters/g.png" alt="g"></div>
      <div class="grid-item"><img src="./letters/h.png" alt="h"></div>
      <div class="grid-item"><img src="./letters/i.png" alt="i"></div>
      <div class="grid-item"><img src="./letters/j.png" alt="j"></div>
      <div class="grid-item"><img src="./letters/k.png" alt="k"></div>
      <div class="grid-item"><img src="./letters/l.png" alt="l"></div>
      <div class="grid-item"><img src="./letters/m.png" alt="m"></div>
      <div class="grid-item"><img src="./letters/n.png" alt="n"></div>
      <div class="grid-item"><img src="./letters/o.png" alt="o"></div>
      <div class="grid-item"><img src="./letters/p.png" alt="p"></div>
      <div class="grid-item"><img src="./letters/q.png" alt="q"></div>
      <div class="grid-item"><img src="./letters/r.png" alt="r"></div>
      <div class="grid-item"><img src="./letters/s.png" alt="s"></div>
      <div class="grid-item"><img src="./letters/t.png" alt="t"></div>
      <div class="grid-item"><img src="./letters/u.png" alt="u"></div>
      <div class="grid-item"><img src="./letters/v.png" alt="v"></div>
      <div class="grid-item"><img src="./letters/w.png" alt="w"></div>
      <div class="grid-item"><img src="./letters/x.png" alt="x"></div>
      <div class="grid-item"><img src="./letters/y.png" alt="y"></div>
      <div class="grid-item"><img src="./letters/z.png" alt="z"></div>

    </div>
  </body>
  <%- include('partials/dictionaryFooter') -%>