<%- include('partials/header') -%>

    <main class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="w-100"
                    src="https://d35aaqx5ub95lt.cloudfront.net/images/331a32943ff73be28537dfc7469d5639.svg">
            </div>
            <div class="col-md-8 text-center">
                <div class="d-flex flex-column justify-content-center h-100">
                    <h1>The free, fun, and effective way to learn American Sign Language!</h1>
                    <a href="/signup" class="btn btn-primary my-3">Get Started</a>
                    <a href="/login" class="btn btn-primary">I Already Have An Account</a>
                </div>
            </div>
        </div>
    </main>


    <div>
        <section id="section1">
            <h1>The world’s #1 way to learn American Sign Language</h1>
        </section>
        <div class="section2">
            <div class="section2-header">
                <h3>Why you’ll love learning with ASL Lingo</h3>
            </div>
            <section id="section2">
                <div class="column">
                    <h4>Effective and efficient</h4>
                    <p>Our courses effectively and efficiently teach reading, listening, and speaking skills. Check out
                        our
                        latest research!</p>
                    <h4>Personalized learning</h4>
                    <p>Combining the best of AI and language science, lessons are tailored to help you learn at just the
                        right level and pace.</p>
                </div>
                <div class="column centered">
                    <img src="https://via.placeholder.com/400x400" alt="Filler Image">
                </div>
                <div class="column">
                    <h4>Stay motivated</h4>
                    <p>We make it easy to form a habit of language learning, with game-like features, fun challenges,
                        and
                        reminders from our friendly mascot, Duo the owl.</p>
                    <h4>Have fun with it!</h4>
                    <p>Effective learning doesn’t have to be boring! Build your skills each day with engaging exercises
                        and
                        playful characters.</p>
                </div>
            </section>
        </div>
    </div>

    <%- include('partials/footer') -%>