<%- include('partials/header') -%>

    <main class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="w-100"
                    src="https://d35aaqx5ub95lt.cloudfront.net/images/331a32943ff73be28537dfc7469d5639.svg">
            </div>
            <div class="col-md-8 text-center">
                <div class="d-flex flex-column justify-content-center h-100">
                    <h1>The free, fun, and effective way to learn American Sign Language!</h1>
                    <a href="/signup" class="btn btn-primary my-3">Get Started</a>
                    <a href="/login" class="btn btn-primary">I Already Have An Account</a>
                </div>
            </div>
        </div>
    </main>


    <%- include('partials/footer') -%>