<%- include('partials/liveTranslationHeader') -%>
  <h1>Under Construction, Check again for updates.</h1>

  <h1 class="fontTest">Under Construction Check again for updates</h1>
  <div class="textToSign">
    <input id="text" type="text" placeholder="hello">
    <button class="textToSignBtn" type="submit">Translate</button>
    <input name="speed" type="range" id="speed" min="40" max="200" step="10" value="120">
    <label for="speed" id="speedOfText">Speed</label>
    <div class='player'>
      <p class="translatedText fontTest">


      </p>
    </div>
  </div>
  <%- include('partials/liveTranslationFooter') -%>