/* Header */
/* Profile button */
#profile-btn{
  cursor: pointer;
}
/* html */
#page-container {
  position: relative;
  min-height: 100vh;
}
/* Footer */
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.layout-container{
  margin: 0 auto;
  /* max-width: 1140px; */
  min-height: 70px;
  text-align: center;
  background-color: #f8f9fa!important;
    opacity: 83%;
}
.footer-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-header h2{
  margin-right: 48px;
  color: white;
}
.footer-header a{
  width: 125px;
  background-color: rgb(88,204,2)
}
.footer-links{
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}
/* .copyright{
  margin-top: 15px;
  padding-bottom: 15px;
} */
.headerImg{
  /* background-image: url("/imgs/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* width: 100% !important; */
}
.bg-light{
  /* opacity: 83%; */
}

/* ADDED AFTER COPYING CSS FILE */

.deckTitle{
  display: inline;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-color: rgb(150 157 255 / 45%);
    border-radius: 20px;
  }
  /* #cardAddition{
    display: none;
  } */
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 35px;
    box-shadow: 8px 5px 20px 5px #123456;
    margin-bottom: 30px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .pointer{
    cursor: pointer;
  }
  .hide{
    display: none;
  }
  .seek{
    display: block
  }
  /* CSS for the hover effect on the img tag */
  .modal-content .list-group-item:hover img {
    opacity: 0.8;
    /* Add any other desired hover styles */
  }

/* flashcard style */

.cardFormat{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-content: center;
}
.frontOfCard{
  display: flex;
  /* width: 100%; */
  justify-content: center;
}
.backOfCard{
  /* width: 100%; */
  justify-content: center;
}
.cardFormatButtons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 15px;
}
.hideCard{
  display: none;
}
.seekCard{
  display: flex;
}
.dropDownParent{
  display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: start;
    margin-top: 20px
}
.study-container{
  padding-left: 180px;
  padding-right: 180px;
  margin-top: 26px;
}
.deckContainer{
  margin-top: 20px;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 20px;
}
.main-container{
  text-align: center;
}
body{
  background: url(../imgs/learnBackground.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.titleStyle{
  border-radius: 20px !important;
  height: 134px;
  width: 224px;
    box-shadow: 11px 13px 0px 5px #123456;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

  
}

/* .list-group{
  border-radius: 35px;
  box-shadow: 8px 5px 20px 5px #123456;
  margin-bottom: 30px;
} */
/* .list-group-item{
  background-color: rgb(150 157 255 / 45%);
} */